@use '../base'as *;

.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.2rem 0;
    z-index: 777;
    background-color: rgba(41, 42, 38, 0);
    transition: all 300ms ease-in-out;
    
    &__container {
        @include container;
        max-width: 1790px;
    }

    &__flexContainer {
        display: flex;
        justify-content: space-between;
    }

    &__logo {
        width: 225px;
        height: 88px;

        &__black {
            width: 100%;
            height:100%;
            object-fit: contain;
            object-position: center center;
        }

        &__white {
            width: 100%;
            height: 100%;
            display: none;
            object-fit: contain;
            object-position: center center;
        }
    }

    &__rechts {
        display: flex;
        gap: 2rem;
        z-index: 888;
    }

    &__language{
        cursor: pointer;
        position: relative;
        margin-top: 1.5rem;
        height: 2rem;

        li {
            width: 50px;
            margin-left: 50px;
        }
        
        li:nth-child(1) {
            &::after {
                content: url(../assets/icons/down-arrow.png);
                position: absolute;
                right: 0rem;
                top: -0.1rem;

                li:nth-child(1) {
                    &::after {
                        content: url(../assets/icons/down-arrow.png);
                        position: absolute;
                        right: -1.2rem;
                        top: -0.1rem;
                    }
                }
            }
        }

        li:nth-child(n+2) {
            visibility: hidden;
            opacity: 0;
            transition: all 300ms ease-in-out;

            padding-top: 0.5rem;
        }

        &:hover {

            li:first-child {
                a {
                    color: $goldgreen;
                }
            }

            a:hover {
                color: $goldgreen;
            }
            

            li:nth-child(n+2) {
                visibility: visible;
                opacity: 1;
                transition: all 300ms ease-in-out;
            }

            li:nth-child(1) {
                &::after {
                    content: url(../assets/icons/up-arrow-gold.png);
                    transition: all 300ms ease-in;
                }
            }
        }
    }

    &__dots {
        display: flex;
        align-items: center;
        gap: 5px;
        width: 100%;
        height: 100%;
        margin-top: -0.25rem;
        position: relative;

        &:hover {
            cursor: pointer;
            
            span:nth-child(1){
                width: 18px;
                height: 18px;
                transition: all 300ms ease-in-out;
            }

            span:nth-child(3){
                width: 10px;
                height: 10px;
                transition: all 300ms ease-in-out;
            }
        }

        span {
            width: 12px;
            height: 12px;
            background-color: $black;
            border-radius: 50%;
            transition: all 300ms ease-in-out;

            &:nth-child(1){
                width: 10px;
                height: 10px;
                transition: all 300ms ease-in-out;
            }

            &:nth-child(3){
                width: 18px;
                height: 18px;
                transition: all 300ms ease-in-out;
            }

            
        }

        .close {
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            margin: auto 0;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background-color: $goldgreen;
            visibility: hidden;
            opacity: 0;
            transition: all 200ms ease-in-out;

            &::before {
                content: url(../assets/icons/btn-next.png);
                width: 100%;
                height: 100%;
                position: absolute;
                right: 2rem;
                top: 0.75rem;
                transition: all 300ms ease-in-out;
                opacity: 0;
            }
        
            &::after {
                content: url(../assets/icons/btn-next.png);
                width: 100%;
                height: 100%;
                position: absolute;
                left: 0.5rem;
                top: 0.75rem;
                transition: all 300ms ease-in-out;
            }

            @media (min-width: 768px) {
                &:hover {
                    background-color: $gold;
                    overflow: visible;
                    transition: all 200ms ease-in-out;
    
                    &::before {
                        transform: translateX(2.5rem);
                        opacity: 1;
                        transition: all 300ms ease-in-out;
                    }
    
                    &::after {
                        opacity: 0;
                        transition: all 300ms ease-in-out;
                        transform: translateX(2.5rem);
                    }
                }
            }
        }
    }
}

.navScrollChange {
    background-color: rgba(41, 42, 38, 1);
    color: $white;
    transition: all 300ms ease-in-out;
    height: 80px;

    .nav__container {
        height: 100%
    }

    .nav__flexContainer{
        height: 100%;
        align-items: center;
    }

    .nav__logo {
        width: 160px;
        height: 65px;

        &__black {
            display: none;
        }

        &__white {
            display: block;
        }
    }

    .nav__dots {

        span {
            background-color: $white;
            transition: all 300ms ease-in-out;
        }
    }

    .nav__language {
        margin-top: 0.5rem;
  
        a {
            color: $white;
        }

        li:nth-child(n+2) {
            padding: 0;
            padding-left: 0.2rem;
            background-color: $black;
            margin-top: 0.4rem;
            width: 50px;
        }

        li {
            margin-left: 50px;
        }

        &:hover {



            li:first-child {
                a {
                    color: $goldgreen;
                }
            }

            a:hover {
                color: $goldgreen;
            }

            li:nth-child(n+2) {
                padding: 0;
                padding-left: 0.2rem;
                background-color: $black;
                margin-top: 0.4rem;
                width: 50px;
            }

            li:nth-child(2) {
                margin-top: 1.75rem;
            }

            li:nth-child(1) {
                &::after {
                    content: url(../assets/icons/up-arrow-gold.png);
                    transition: all 300ms ease-in;
                }
            }
        }
    }

    .nav__language li:nth-child(1)::after {
        content: url(../assets/icons/down-arrow-white.png);
    }

    .nav__rechts {
        align-items: center;
    }
}

.hiddenMenu {

    width: 100vw;
    margin: 0 auto;
    position: fixed;
    top: 0;
    right: -150%;
    height: 100vh;
    transition: all 200ms ease-in-out;
    z-index: 555;
    overflow-y: hidden;

    &__links {
        padding: 10% 0 0 10%;
        width: 50vw;
        margin-left: auto;
        background-color: #292A26;
        height: 100vh;
        overflow-y: scroll;
        padding-bottom: 8rem;

        & > * {
            @include goldUnderline;
            margin-bottom: 1.5rem;
            width: max-content;

            &::after {
                width: 40px;
                top: 4.5rem;
                transition: width 200ms ease-in-out;
            }

            &:hover {
                &::after {
                    width: 50%;
                    transition: width 200ms ease-in-out;
                }
            }
        }
    }

    &__btn {
        @include goldButton;
        
        width: 250px;
        height:250px;
        transform: unset;

        position: absolute;

        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        z-index: 7;

        @media (max-width: 1600px) {
            width: 200px;
            height: 200px;

            
            &:hover {
                &::after {
                    transform: translateX(3rem);
                }
            }
        }

    }

    li a {
        color: $white;
        font-size: 48px;
        line-height: 64px;
        @include playfair-400;
        transition: color 200ms ease-in-out;

        &:hover {
            color: $goldgreen;
            transition: color 200ms ease-in-out;
        }
    }


    .sub-menu {
        height: 0px;
        opacity: 0;
        visibility: hidden;
        transition: all 0.3s ease;
        width: max-content;

        li {
            margin-top: 0.5rem;

            a {
                @include barlow;
                font-size: 1.35rem;
                line-height: 29px;
            }
        }
    }

    .sub-menu-parent {
        width: max-content;
        position: relative;

        &::before {
            content: url(../assets/icons/down-arrow-white-big.png);
            position: absolute;
            top: 1.5rem;
            right: -2rem;
        }

        &:hover {

            &::before {
                content: url(../assets/icons/up-arrow-gold-big.png);
            }

            .sub-menu {
                visibility: visible;
                height: max-content;
                opacity: 1;
                transition: all 0.3s ease;
                margin-top: 2.5rem;
            }
        }
    }
}

.menu-show {
    right: 0;
    transition: all 200ms ease-in-out;
}

.hide {
    opacity: 0;
    visibility: hidden;
}

.change-color {

    .nav__language {
        li {
            width: 50px;
            margin-left: 50px;

            a {
                color: $white;
            }
        }
        
        li:nth-child(1) {
            &::after {
                content: url(../assets/icons/down-arrow-white.png);
                position: absolute;
                right: 0rem;
                top: -0.1rem;

                li:nth-child(1) {
                    &::after {
                        content: url(../assets/icons/down-arrow.png);
                        position: absolute;
                        right: -1.2rem;
                        top: -0.1rem;
                    }
                }
            }
        }

        li:nth-child(n+2) {
            visibility: hidden;
            opacity: 0;
            transition: all 300ms ease-in-out;

            padding-top: 0.5rem;
        }

        &:hover {

            li:first-child {
                a {
                    color: $goldgreen;
                }
            }

            a:hover {
                color: $goldgreen;
            }
            

            li:nth-child(n+2) {
                visibility: visible;
                opacity: 1;
                transition: all 300ms ease-in-out;
            }

            li:nth-child(1) {
                &::after {
                    content: url(../assets/icons/up-arrow-gold.png);
                    transition: all 300ms ease-in;
                }
            }
        }
    }

    .nav__dots {
        span {
            visibility: hidden;
            opacity: 0;
        }

        opacity: 1;
    }

    .close {
        visibility: visible;
        opacity: 1;
    }
}

.hideBg {
    background-color: transparent;
}

@media (max-width: 1200px) {
    .hiddenMenu {
        background-color: #292A26;

        &__links {
            width: 100vw;
            padding: 0 0 10rem 2rem;
            margin-top: 8rem;

            li a {
                font-size: 1.6rem;
            }
        }

        &__btn {
            margin: 0 auto;
            top: 80%;
        }
    }

    .whiteLogo {
        .nav__logo__black {
            opacity: 0;
            display: none;
        }

        .nav__logo__white {
            opacity: 1;
            display: unset;
        }
    }
}

@media (max-width: 768px) {
    .hiddenMenu {
        &__links  {
            padding-left: 1rem;

            & > * {
                margin-bottom: 0;

                &::after {
                    top: 3.5rem;
                }
            }

            li a {
                font-size: 1.3rem;
            }
        }

        &__btn {
            width: 100px;
            height: 100px;

            a {
                font-size: 0.7rem;
            }
        }

        .sub-menu-parent {
            &::before {
                display: none;
            }
        }

        .sub-menu {
            height: max-content;
            opacity: 1;
            visibility: visible;
            padding-left: 20px;

            li a {
                font-size: 0.85rem;
            }
        }
    }

    
    .nav {
        &__logo {
            width: 120px;
        }
    }

}

.darkBg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: #292A26;
    opacity: 0.5;

    &:hover {
        cursor: pointer;
    }
}

.hiddenMenu::before { 
    display: none;
}