@use '../base'as *;

.sliderMedImg {

    .sliderBigImg__slider {
        .swiper-slide {
            height: 420px;
            width: 20% !important;
        }

        .swiper-slide-active  {

            width: 40% !important;
        }

        /* .swiper-slide-next, .swiper-slide-next ~ * {
            width: 23% !important;
        } */

    }
}

@media (max-width: 768px) {
    .sliderMedImg {
        .sliderBigImg {
            &__slider .swiper-slide {
                height: 330px;
            }
        }
    }
}