@use '../base'as *;

.txtIcons {
    position: relative;

    &::before {
        content: url(../assets/img/deko-left.png);
        position: absolute;
        top: 3rem;
        left: -14.7rem;
        opacity: 0.05;
    }

    &::after {
        content: url(../assets/img/deko-right.png);
        position: absolute;
        bottom: 3rem;
        right: -14.7rem;
        bottom: -9rem;
        right: -12.7rem;
    }


    &__container {
        @include container;
    }

    &__txtContainer {
        @include txtTemplate;
        text-align: center;
        max-width: 730px;
        max-height: 100%;
        margin: 0 auto;

        ul li {
            width: fit-content;
            margin: 0 auto;
            position: relative;
            margin-bottom: 0.5rem;

            &::before {
                content: "";
                position: absolute;
                left: -1.2rem;
                top: 8px;
                width: 10px;
                height: 10px;
                border-radius: 50%;
                border: 1px solid #292A26;
            }
        }
    }

    &__txt {
        padding: 0 3rem;
    }

    &__title {

        h2::after {
            margin-left: auto;
            margin-right: auto;
            left: 0;
            right: 0;
        }
        
        &__intro {
            text-transform: uppercase;
            font-size: 1.33rem;
            font-weight: 500;
            letter-spacing: 2px;
            margin: 0 0 0.5rem 0 !important;
            @include barlow-medium;
        }
    }

    &__iconContainer {
        display: flex;
        justify-content: center;
        gap: 4rem;
        margin-top: 4rem;
    }

    &__icon {
        width: 150px;
        height: 150px;
        border: 2px solid $black;
        border-radius: 50%;
        position: relative;

        a {
            width: 100%;
            height: 100%;
            border-radius: 50%;
            position: absolute;
            inset: 0;
            z-index: 33;
        }

        &__img {
            width: 75px;
            height: 75px;
            position: absolute;
            inset: 0;
            margin: auto;
            transition: all 200ms ease-in-out;

            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }

        &__descr {
            text-transform: uppercase;
            text-align: center;
            transform: translate(-20px, 60px);
            @include barlow-medium;
            font-size: 0.9rem;
            max-width: 125px;
            transition: all 200ms ease-in-out;
            opacity: 0;
        }
        
        @media (min-width: 768px) {
            &:hover {
                .txtIcons__icon__descr {
                    transform: translate(10px, 60px);
                    opacity: 1;
                    transition: all 200ms ease-in-out;
                }

                .txtIcons__icon__img {
                    transition: all 200ms ease-in-out;
                    transform: translateX(30px);
                    opacity: 0;
                }
            }
        }
    }
}

@media (max-width: 1000px) {
    .txtIcons {
        &__title__intro {
            font-size: 1rem;
        }

        &__iconContainer {
            gap: 2rem;
        }
    }
}

@media (max-width: 768px) {
    .txtIcons {

        &__txt {
            padding: 0;
        }

        &::before {
            left: -20.7rem;
        }

        &::after {
            right: -17rem;
        }

        &__txtContainer {
            ul {
                width: 90%;
                margin: 0 auto;

                li {
                    width: 80%;

                    &::before {
                        left: -1rem;
                    }
                }
            }
        }

        &__iconContainer {
            flex-wrap: wrap;
            gap: 4rem 2rem;
        }

        &__icon {
            width: 120px;
            height: 120px;

            &__img {
                width: 60px;
                height: 60px;
            }

            &__descr {
                opacity: 1;
                transform: unset;
                transform: translateY(125px);
                max-width: unset;
                width: 120px;
            }
        }
    }
}