@use '../base'as *;

.zipperCards {

    .overlapCards {
        
        &__both {
            margin-top: 180px;
            height: 650px;

            &:nth-child(1) {
                margin-top: 0;
            }

            &:nth-child(even) {

                position: relative;

                &::before {
                    content: "";
                    position: absolute;
                    top: -90px;
                    left: -50%;
                    width: 200%;
                    height: 830px;
                    background-color: $black;
                }

                .overlapCards__right {
                    left: 0;
                }

                @media (min-width: 1500px) {
                    .overlapCards__right {
                        padding-left: 7.5rem;
    
                        &__btn {
                            right: unset;
                            left: -4rem;
                        }
                    }
                }

                .overlapCards__left {
                    margin-left: auto;
                }
            }
        }

        &__right {
            margin-left: unset;
            margin-right: 1rem;
            max-height: 470px;

            &::before {
                margin-left: unset;
            }

            &__txt {
                padding-right: 4rem;
            }

            &__btn {
                @include goldButton;
                position: absolute;
                top: 7rem;
                right: -4rem;
                transform: unset;
                left: unset;

                a {
                    color: $black;
                    font-size: 17px;
                    @include barlow-medium;

                    &::before, &::after {
                        display: none;
                    }
                }

                &:hover {
                    &::after {
                        transform: translateX(2.5rem);
                        top: 37%;
                    }
                }

                &::after {
                    content: url(../assets/icons/right-arrow-fixed.png);
                    top: 37%;
                }
            }

        }

        &__left {
            max-width: 785px;
        }
    }
}

@media (max-width: 1500px) {
    .zipperCards {
        .overlapCards {
            &__right__btn {
                width: 120px;
                height: 120px;
                top: 15rem;
                right: 1rem;

                a {
                    font-size: 14px;
                }

                &::after {
                    top: 34%;
                }

                &:hover::after {
                    transform: translateX(1.2rem);
                    top: 34%;
                }
            }
        }
    }
}

@media (max-width: 900px) {
    .zipperCards {
        .overlapCards {
            &__left {
                margin-right: 5rem;
            }

            &__right {
                margin-left: 1rem;
            }
        }
    }
}

@media (max-width: 768px) {
    .zipperCards {
        .overlapCards {
            &__both {
                height: 500px;

                &:nth-child(even)::before {
                    height: 700px;
                }

                &:last-child {
                    margin-bottom: 3.5rem;
                }
            }

            &__right {
                bottom: unset;
                top: 10rem;
            }
        }
    }
}

@media (max-width: 500px) {
    .zipperCards {
        .overlapCards {
            &__right__btn {
                width: 80px;
                height: 80px;
                top: -3rem;

                a {
                    font-size: 12px;
                    text-align: center;
                }
            }

            &__left {
                margin-right: 2rem;
            }
        }
    }
}